/* navbar */
.navbar {
    /* supaya bisa kasih z-index tentu saja positionnya juga harus non-static kita kasih position: relative; */
    position: relative;
    z-index: 1;

}
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

/* jumbotron */
.jumbotron {
    background-image: url(img/jumbotron-bg.jpg);
    /* biar pas */
    background-size: cover;
    /* tinngi gambar */
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    /* supaya maju */
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    /* supaya penuh 1 jumbotron */
    width: 100%;
    /* supaya penuh 1 jumbotron */
    height: 80%;
    /* buat gradasi */
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    /* supaya naik 1 dimensi | ingat kalo ngasih ke si after ini position: absolute; wadahnya/jumbotronnya kasih juga
    position: relative; supayay ikut2 naik 1 dimensi */
    position: absolute;
    /* supaya nempel di paling bawah jumbotronnya */
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    /* biar langsing */
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    /* jarak ke kanan */
    margin-right: 20px;
    /* jarak ke bawah */
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200px;
}

/* Workingspace */
.workingspace {
    margin-top: 120px;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    font-weight: 500;
    text-align: center;
}

.workingspace p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    margin: 30px 0;
}

/* Testimonial */
.testimonial {
    margin-top: 100px;
}

.testimonial h5 {
    text-align: center;
    font-weight: 200;
    /* biar miring */
    font-style: italic;
    font-size: 24px;
}

.testimonial figure img {
    width: 60px;
    /* 20: atas, 15: kiri kanan, 10: bawah */
    margin: 20px 10px 10px;
    opacity: 0.6;
}

.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1C2C5D;
}

.testimonial figure img.utama {
    width: 90px;
    opacity: 1;
    margin-top: 5px;
}

.testimonial figure p {
    font-size: 12px;
    color: #ACACAC;
    margin-top: -5px;
}

.testimonial figcaption {
    text-align: center;
}

/* Footer */
.footer {
    margin-top: 100px;
}

.footer p {
    color: #ACACAC;
    font-size: 18px;
}




/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}



/* DESKTOP VERSION */
@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
    
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    .workingspace {
        text-align: left;
    }

    .testimonial h5 {
        font-size: 32px;
    }
}